mixin pagination(page, pages, count)
	div.pagination
		div.pagination__prev
			if page > 1
				a(href=`/stores/page/${page - 1}`) Prev
		div.pagination__text
			p Page #{page} of #{pages} - #{count} total results
		div.pagination__next
			if page < pages
				a(href=`/stores/page/${parseFloat(page) + 1}`) Next